# **1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.**


```
*
hello
-87.8
-
/
+
6

```

**Ans :** In the above list of elements, the values and expressitions are as below,



*   Values : hello, -87.8, 6 (as they ate integer or strings)
*   Expression : *, -, /, + (as they are the mathematical operations)



---

# **2. What is the difference between a string and a variable?**

**Ans:** A **string** can be a combination of letters, words or even numbers (`eg: "2"`), which are enclosed in a "" or ''. A single letter can also be called as a string. Which is mainly used to represent names, information to be printed or any character information. 

`eg: "jerry", "house no 123", "a"`

A variable is something that can store any values, that means a varaiable can hold a string, int, float, list etc. In python we dont want to explicitly assign the datatype for the varaiable. A value can be assigned to a varibale using "=".

`eg : jerry_age => jerry_age is a variable`

we can assign a value to jerry_age by

`jerry_age = 20`



---


# **3. Describe three different data types.**

Ans : The three different data types i am going to explain are numerical datatype, string datatypes and boolean datatype.



1.   **Numerical data types** 

    Python numeric data type is used to hold numeric values like;

    1. **int** - holds signed integers of non-limited length.

    `eg: a = 12`

        where type of a will be int, as it carries an integer value.

    2. **float**- holds floating precision numbers and it’s accurate up to 15 decimal places.

    `eg: a = 1.2`

    Where type of a will be float as it contain floating point values

    3. **complex**- holds complex numbers.

    `eg: 3 + 4i`

2.   **String Datatype**

    A **string** can be a combination of letters, words or even numbers (`eg: "2"`), which are enclosed in a "" or ''. A single letter can also be called as a string. Which is mainly used to represent names, information to be printed or any character information. 

    `eg: name = "my name is jerry"`


3.  **Boolean Datatype**

    The Python Boolean type has only two possible values:


*   True
*   False

    The Python Boolean type is one of Python’s built-in data types. It’s used to represent the truth value of an expression. For example, the expression 1 <= 2 is True, while the expression 0 == 1 is False. 

    `eg: a = True`

    The boolean datatype. is case sensitive



---

# **4. What is an expression made up of? What do all expressions do?**

**Ans:** Expressions are made up of a combination of operators and operands. Where operators are mathematical symbols like +, -, /, = etc and operands can be any value that can be operated.

Expressions are used to produce reults by applying operators on the operands. If there is multiple operators, it will be selected based on the precidence. 

`eg : a = 2 + 3`

    where 2 and 3 are the operands and the + is the operator



---
# **5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?**

**Ans:** The main difference between an expression and a statement is that, an expression will always contain one or more operators with the operand.

`eg: a = 2 + 3`

While the statements will not contain any operators, as shown in the example `spam = 10`, here the value 10 is directly assigning to the variable spam.

`eg : jerry_age = 10`

For the expression there will be an answer after running the expression.



---

# **6. After running the following code, what does the variable bacon contain?**

```
bacon = 22
bacon + 1
```

**Ans:** After running the code, the variable bacon will contain the value 22. Because even though the value of the variable bacon is updated by one. Which is not storing back to bacon. So the previous value only be present at the varaiable.



```
# The ans will be 23 if the code is like

bacon = 22
bacon = bacon + 1
```

In [1]:
bacon = 22
bacon + 1
print(bacon)

22

In [2]:
bacon = 22
bacon = bacon + 1
print(bacon)

23

---
# **7. What should the values of the following two terms be?**



```
'spam' + 'spamspam'
'spam' * 3
```

**Ans:** `'spam' + 'spamspam'` will join together using the `+` symbol.

`'spam' * 3` will make the spam word repeat 3 times.

In [3]:
'spam' + 'spamspam'

'spamspamspam'

In [4]:
'spam' * 3

'spamspamspam'



---
# **8. Why is eggs a valid variable name while 100 is invalid?**

**Ans:** The reason why `100` is not a valid variable name is because in python a varibale name must start with a letter or the underscore charater. While the varibale name `eggs` satisfies all the conditions to be a valid varaiable name.



```
Valid varaiable name example

jerry
_jerry
jery12
```



---
# **9. What three functions can be used to get the integer, floating-point number, or string version of a value?**

**Ans:** The three functions that is used to get the integer, floating point number or string of a value is



1.   **int() :** Which convert any values to integer.


```
      eg: value = 10.1
          int(value)
```


2.   **float() :** Which convert a value to floating point number.



```
eg: value = 10
    float(value)
```
3. **str() :** Which convert a value to string.



```
eg: value = 10
    str(value)
```

In [8]:
#Example

value = 10.1

print(type(int(value)))

print(type(float(value)))

print(type(str(value)))

<class 'int'>
<class 'float'>
<class 'str'>



---
# **10. Why does this expression cause an error? How can you fix it?**



```
'I have eaten' + 99 + 'burritos'
```

**Ans:** A **type error** will be shown when we run the above code. Because we can only concatenate strings using the + symbol. But in the above sentence they are trying to concatinate an integer with the string. That will cause an type error. 

To solve that use just convert the type of 99 to string. Either by adding quotes `(""/'')` or using `str()` function.

In [10]:
'I have eaten' + "99" + 'burritos'

'I have eaten99burritos'

In [11]:
'I have eaten' + str(99) + 'burritos'

'I have eaten99burritos'